body {
  background-color: grey;
}

.App-link {
  color: #61dafb;
}
.address {
  border-style: solid;
  background-color: rgb(68, 104, 172);
}
.address:hover {
  background-color: red;
}
.title {
  text-align: center;
}
p {

  margin:5px;
}
.buttons {
  padding-left: 40px;
}
.list {
  width: auto;
  padding-right: 40px;
}
.form {
  padding-left: 40px;
  padding-right: 40px;
}
label {
  width: 100%;
}
input {
  width: 100%;
}

